<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <h3>You have {{ count }} tasks</h3>
    <h4>You have {{ doneCount }} completed tasks</h4>
    <form @submit.prevent="addTodo">
      <input type="text" name="taskName" v-model="currentTodo">
      <button type="submit" name="add_task"><img src="assets/images/icons8-add-50-2.png" class="icon25"> Hozzáad</button>
    </form>
    <div v-if="lastTodo">
      Todo deleted. <button @click="restoreTodo">Restore</button>
    </div>
    <ul>
        <li
          v-for="(todo, index) in todos"
          :key="index"
          :class="{ important: todo.important }"
          class="todo"
        >       
          <input 
            type="checkbox"
            :id="'isDone-' + index"
            :checked="todo.done"
            @change="toggleTodoDone(index)"
          >
          <img @click="toggleTodoField(index, 'editing')" src="assets/images/icons8-edit-50.png" class="icon25">
          <img 
            @click="deleteTodo(index)"
            src="assets/images/icons8-cancel-50.png"
            class="icon25 fakebutton"
          >
          <img 
            @click="toggleTodoField(index, 'important')"
            src="assets/images/icons8-box-important-50.png"
            class="icon25 fakebutton"
          >
          <label  
            :class="{ done: todo.done }"
            @dblclick="toggleTodoField(index, 'editing')"
            v-if="!todo.editing"
          >
            {{ todo.text }}
          </label>
          <input 
            type="text"
            name="taskName"
            v-model="todo.text"
            @keyup.enter="toggleTodoField(index, 'editing')"
            v-else
          >
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        currentTodo: '',
        lastTodo: null,
        todos: [
            {
                text: 'Ubuntu telepítés',
                important: true,
                done: true,
                editing: false
            },
            {
                text: 'Git telepítés',
                important: false,
                done: true,
                editing: false
            },
            {
                text: 'Delete button',
                important: false,
                done: true,
                editing: false
            },
            {
                text: 'Edit button',
                important: false,
                done: true,
                editing: false
            },
            {
                text: 'Important toggle',
                important: false,
                done: true,
                editing: false
            },
            {
                text: 'Reordering tasks',
                important: false,
                done: false,
                editing: false
            },
            {
                text: 'Prioritize tasks (important ones show first)',
                important: false,
                done: false,
                editing: false
            },
            {
                text: 'Ability to make lists',
                important: false,
                done: false,
                editing: false
            },
            {
                text: 'Edit button shows insted of original text',
                important: false,
                done: true,
                editing: false
            }
        ]
      },
      computed: {
        count () {
          return this.todos.length
        },
        doneCount () {
          var i = 0;
          var done = 0;
          for (i=0; i < this.todos.length; i++) {
            if (this.todos[i].done) {
              done++
            }
          }
          return done;
        }
      },
      methods: {
        addTodo () {
          this.todos.push({
            text: this.currentTodo,
            important: false,
            done: false
          })
          this.currentTodo = ''
        },
        deleteTodo (index) {
          if (confirm('Are you sure?')) {
            this.lastTodo = {
              todo: this.todos[index],
              index: index
            }
          this.todos.splice(index, 1)
          }
        },
        toggleTodoField (index, field) {
          this.todos[index][field] = !this.todos[index][field]
        },
        toggleTodoDone (index) {
          this.todos[index].done = !this.todos[index].done
          if (this.todos[index].done) {
            this.todos[index].editing = false
          }
          
        },
        restoreTodo () {
          this.todos.splice(this.lastTodo.index, 0, this.lastTodo.todo)
          this.lastTodo = null
        }
      }

    })
  </script>

</body>
</html>