<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <h3>You have {{ count }} tasks</h3>
    <h4>You have {{ doneCount }} completed tasks</h4>
    <ul>
        <li
          v-for="(todo, index) in todos"
          :key="index"
          :class="{ important: todo.important }"
          class="todo"
        >
          <input type="checkbox" :id="'isDone-' + index" v-model="todo.done">
          <img v-on:click="editTaskChange(index)" src="assets/images/icons8-edit-50.png" class="icon20">
          <img 
            v-on:click="deleteTodo(index)" 
            src="assets/images/icons8-cancel-50.png" 
            class="icon20 fakebutton"
          >
          <img 
            v-if
            v-on:click="makeTodoImportant(index)" 
            src="assets/images/icons8-box-important-50.png" 
            class="icon20 fakebutton"
          >
          <label :for="'isDone-' + index" :class="{ done: todo.done }">{{ todo.text }}</label>
          <template v-if="editTask == index">
            <div style="display: block;">
              <input 
                type="text" 
                name="taskName" 
                style=""
                v-model="todo.text"
              >
              <img 
                v-on:click="editTaskChange(null)" 
                src="assets/images/icons8-tick-box-50.png" 
                class="icon20"
              >
            </div>
          </template>
        </li>
    </ul>
    <form v-on:submit.prevent="addTodo">
      <input type="text" name="taskName" v-model="currentTodo">
      <button type="submit" name="add_task"><img src="assets/images/icons8-add-50-2.png" class="icon20"> Hozzáad</button>
    </form>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        currentTodo: '',
        editTask: null,
        todos: [
            {
                text: 'Ubuntu telepítés',
                important: true,
                done: true
            },
            {
                text: 'Git telepítés',
                important: false,
                done: true
            },
            {
                text: 'Delete button',
                important: false,
                done: false
            },
            {
                text: 'Edit button',
                important: false,
                done: false
            },
            {
                text: 'Important toggle',
                important: false,
                done: false
            },
            {
                text: 'dummy',
                important: false,
                done: false
            },
            {
                text: 'dummy',
                important: false,
                done: false
            },
            {
                text: 'dummy',
                important: false,
                done: false
            },
            {
                text: 'Edit button shows insted of original text',
                important: false,
                done: false
            }
        ]
      },
      computed: {
        count () {
          return this.todos.length
        },
        doneCount () {
          var i = 0;
          var done = 0;
          for (i=0; i < this.todos.length; i++) {
            if (this.todos[i].done) {
              done++
            }
          }
          return done;
        }
      },
      methods: {
        addTodo () {
          this.todos.push({
            text: this.currentTodo,
            important: false,
            done: false
          })
          this.currentTodo = ''
        },
        deleteTodo (index) {
          this.todos.splice(index, 1)
        },
        editTaskChange (index) {
          
          if (this.editTask == null) {
            this.editTask = index
          }
          else this.editTask = null
          
        },
        makeTodoImportant (index) {
          if (this.todos[index].important) {
            this.todos[index].important = false
          } else {
            this.todos[index].important = true
          }
          
        }
      }

    })
  </script>

</body>
</html>