ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=checkbox] {
    width: 30px;
    height: 30px;
    background-color: lightslategray;
    border: 1px solid #ffffff;
}
input[type=text], button {
    font-size: x-large;
}
.todo {
    padding: 10px;
    background-color: rgb(255, 233, 174);
}
.important {
    background-color: rgb(255, 192, 109);
}
.done {
    text-decoration: line-through;
}
.fakebutton {
    cursor: pointer;
}
.icon25 {
    position: relative;
    top:3px;
    width: 25px;
}