ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 20px;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    background-color: lightslategray;
    border: 1px solid #ffffff;
}
.todo {
    padding: 10px;
    background-color: rgb(255, 233, 174);
}
.important {
    background-color: rgb(255, 192, 109);
}
.done {
    text-decoration: line-through;
}
.fakebutton {
    cursor: pointer;
}
.icon20 {
    width: 20px;
}